@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/*COLOURS*/
$RED: hsl(0, 78%, 62%);
$CYAN: hsl(180, 62%, 55%);
$ORANGE: hsl(34, 97%, 64%);
$BLUE: hsl(212, 86%, 64%);
$VERY-DARK-BLUE: hsl(234, 12%, 34%);
$GREY-BLUE: hsl(229, 6%, 66%);
$LIGHT-GREY: hsl(0, 0%, 98%);
$WHITE: hsl(0, 100%, 100%);

body {
  background-color: $LIGHT-GREY;
  font-family: "Poppins", sans-serif;
}

/*HEADER*/
.header-component {
  text-align: center;
  margin: 60px 15px 60px 15px;
  padding: 0px 15px 0px 15px;
}
.lighter-heading {
  font-size: 23px;
  line-height: 30px;
  color: $VERY-DARK-BLUE;
  font-weight: 100;
}
.heavy-heading {
  font-weight: 400;
  font-size: 23px;
  line-height: 48px;
  color: $VERY-DARK-BLUE;
}
.intro {
  color: $GREY-BLUE;
  padding-top: 8px;
  line-height: 22px;
  letter-spacing: 0.005rem;
  font-size: 15px;
  text-align: center;
}

/*MAIN COMPONENT*/
.component-container {
  margin: auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
}

/*COMPONENT ELEMENT*/
.square-component {
  background-color: $WHITE;
  margin: auto;
  box-shadow: 0px 10px 23px -14px rgba(194, 190, 194, 1);
  padding: 0px 15px 0px 15px;
  height: auto;
  width: 75%;
  border-radius: 8px;
}
.box-content {
  padding: 19px 15px;
}
.subheading {
  color: $VERY-DARK-BLUE;
  font-weight: 400;
  font-size: 20px;
}
.box-text {
  font-size: 15px;
  font-weight: 200;
  color: $GREY-BLUE;
}
.icon {
  float: right;
  margin: 15px;
}

/*INDIVIDUAL ELEMENTS*/
.cyan-block {
  border-top: 5px solid $CYAN;
}
.red-block {
  border-top: 5px solid $RED;
}
.orange-block {
  border-top: 5px solid $ORANGE;
}
.blue-block {
  border-top: 5px solid $BLUE;
}

/*DESKTOP VERSION*/
@media (min-width: 1000px) {
  /*HEADER*/
  .header-component {
    margin: 80px auto 60px auto;
  }

  .lighter-heading {
    font-size: 36.5px;
    line-height: 45px;
    font-weight: 200;
  }
  .heavy-heading {
    font-size: 37px;
    line-height: 63px;
  }
  .intro {
    padding-top: 14px;
    width: 36%;
    margin: auto;
    font-weight: 200;
  }

  /*MAIN COMPONENT*/
  .component-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 349px 349px 349px;
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 26px;
    margin-top: 14px;
  }

  /*COMPONENT ELEMENT*/
  .square-component {
    height: 243px;
    width: 349px;
    padding: 0px;
  }
  .box-content {
    padding-left: 33px;
    padding-top: 26px;
  }
  .box-text {
    line-height: 20px;
    font-size: 14px;
    padding-right: 34px;
  }
  .icon {
    margin: 7px;
    padding-right: 28px;
  }

  /*INDIVIDUAL ELEMENTS*/
  .red-block {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-bottom: 2px;
    margin-top: -3px;
  }
  .orange-block {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .cyan-block {
    justify-self: end;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .blue-block {
    justify-self: start;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}
